# misc
*.pro.user
*.pro.user.2.5pre1
# build
BtExperience_qws
Makefile
moc/
obj/
/BtObjects/libbtobjects.*.so
/BtObjects/libbtobjects.*.dylib
/BtObjects/test/test
/gui/locale/*.qm
/conf.xml
/layout.xml
/archive.xml
/settings.xml
/browser.xml
/bin/
/dist/
/doc/
/extra
build_arm/

*.moc
*.o
moc_*.cpp
*~

