<?xml version='1.0' encoding='utf-8'?>
<settings>
    <!-- ringtones -->
    <obj id_ringtone="1" cid="14101" id="14101">
        <ist id_ringtone="4" uii="30201"/>
    </obj>
    <obj id_ringtone="1" cid="14102" id="14102">
        <ist id_ringtone="4" uii="30202"/>
    </obj>
    <obj id_ringtone="1" cid="14103" id="14103">
        <ist id_ringtone="4" uii="30203"/>
    </obj>
    <obj id_ringtone="1" cid="14104" id="14104">
        <ist id_ringtone="4" uii="30204"/>
    </obj>
    <obj id_ringtone="1" cid="14105" id="14105">
        <ist id_ringtone="5" uii="30205"/>
    </obj>
    <obj id_ringtone="1" cid="14106" id="14106">
        <ist id_ringtone="5" uii="30206"/>
    </obj>
    <obj id_ringtone="1" cid="14107" id="14107">
        <ist id_ringtone="5" uii="30207"/>
    </obj>
    <obj id_ringtone="1" cid="14109" id="14109">
        <ist id_ringtone="1" uii="30208"/>
    </obj>
    <obj id_ringtone="1" cid="14110" id="14110">
        <ist id_ringtone="1" uii="30209"/>
    </obj>
    <!-- password -->
    <obj password="12345" mode="0" cid="14003" id="14003">
        <ist password="1234567" mode="1" uii="30301"/>
    </obj>
    <!-- energy rates -->
    <obj measure="kW" mode="1" delta="1" tariff="0" rate_id="1" n_integer="3" cid="14267" symbol="" descr="" type="0" id="14267" name="EUR" n_decimal="0">
        <ist measure="m3" mode="3" tariff="2" rate_id="2" symbol="€" descr="" name="EUR" uii="30102"/>
        <ist delta="1" tariff="4" rate_id="5" n_integer="3" symbol="€" descr="" type="-1" name="EUR" uii="30104" n_decimal="0"/>
    </obj>
    <!-- beep enable -->
    <obj cid="14001" id="14001">
        <ist enable="1" uii="30105"/>
    </obj>
    <!-- threshold bip -->
    <obj enable="0" cid="14255" id="14255">
        <ist enable="1" uii="30106"/>
    </obj>
    <!-- consume pop up -->
    <obj enable="0" cid="14256" id="14256">
        <ist enable="1" uii="30107"/>
    </obj>
    <!-- burglar alarm (alert) -->
    <obj enable="0" cid="14257" id="14257">
        <ist enable="1" uii="30108"/>
    </obj>
    <!-- alarm clock (alert) -->
    <obj enable="0" cid="14258" id="14258">
        <ist enable="1" uii="30109"/>
    </obj>
    <!-- hands free (alert) -->
    <obj enable="0" cid="14259" id="14259">
        <ist enable="1" uii="30110"/>
    </obj>
    <!-- professional studio (alert) -->
    <obj enable="0" cid="14260" id="14260">
        <ist enable="1" uii="30111"/>
    </obj>
    <!-- call exclusion (alert) -->
    <obj enable="0" cid="14261" id="14261">
        <ist enable="1" uii="30112"/>
    </obj>
    <!-- burglar alarm danger (alert) -->
    <obj enable="0" cid="14262" id="14262">
        <ist enable="1" uii="30113"/>
    </obj>
    <!-- volume (alert) -->
    <obj enable="0" cid="14263" id="14263">
        <ist enable="1" uii="30114"/>
    </obj>
    <!-- player (alert) -->
    <obj enable="0" cid="14264" id="14264">
        <ist enable="1" uii="30115"/>
    </obj>
    <!-- messages (alert) -->
    <obj enable="0" cid="14265" id="14265">
        <ist enable="1" uii="30116"/>
    </obj>
    <!-- scenario recording (alert) -->
    <obj enable="0" cid="14266" id="14266">
        <ist enable="1" uii="30117"/>
    </obj>
    <!-- hands free enable -->
    <obj enable="0" cid="14251" id="14251">
        <ist enable="1" uii="30401"/>
    </obj>
    <!-- professional studio enable -->
    <obj enable="0" cid="14252" id="14252">
        <ist enable="1" id="14252" uii="30402"/>
    </obj>
    <!-- ring exclusion enable -->
    <obj enable="0" cid="14253" id="14253">
        <ist enable="1" id="14253" uii="30403"/>
    </obj>
    <!-- tele loop enable -->
    <obj enable="0" cid="14254" id="14254">
        <ist id="14254" uii="30404"/>
    </obj>
    <!-- alarm clock -->
    <obj hour="0" enabled="0" days="0" minutes="0" cid="14201" type="0" id="14201">
        <ist hour="13" enabled="1" minutes="30" descr="Beep" type="0" volume="1" uii="30501"/>
        <ist amplifier_uii="10003" hour="14" enabled="1" source_type="1" days="127" minutes="30" descr="Sound diff" type="1" volume="9" uii="30502"/>
    </obj>
    <!-- debug settings -->
    <obj internal_descr="debug touchscreen" id="123456">
        <ist enable="1" uii="123456"/>
    </obj>
    <obj internal_descr="debug timing" id="123457">
        <ist enable="1" uii="123457"/>
    </obj>
</settings>
